<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>Get latest blog via mail</p>
    <form method="post" action="/NewsLetter/SubscribeMail">
        <input type="email" placeholder="Email" name="Mail" >
        <input type="submit" value="Subscribe">
    </form>

</div>
